.navLogoContainer {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  margin-right: 10px;
}

.navLogoContainer img {
  width: 50px; /* Ancho del logo */
  height: 50px; /* Alto del logo */
  border-radius: 50%; /* Borde redondeado */
  object-fit: cover; /* Ajusta la imagen para que cubra el área */
}
.navLogoTitle {
  color: white;
  font-size: 20px;
  /* Tamaño de fuente del título */
  font-weight: bold;
  /* Fuente en negrita */
  margin-left: 10px;
  /* Espacio a la izquierda del título */
  font-weight: 500;
}

.navLogoTitle:hover {
  color: #f57c00;
  font-weight: 600;
}