html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif; 
}

.navbarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #333; 
}

.navbarLinks {
  padding: 0;
  margin: 0;
  display: flex;
}

.iconLink,
.Links {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 10px;
  border-radius: 6px;
  border: 2px solid transparent;
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #b71c1c;
  border-color: red;
}

.LinksAppointment {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 10px;
  border-radius: 6px;
  border: 2px solid transparent;
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #0d47a1;
  border-color: rgb(29, 236, 10);
}

.LinksContact {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 10px;
  border-radius: 6px;
  border: 2px solid transparent;
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #c20dda;
  border-color: rgb(16, 226, 209);
}

.iconLink {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 60px;
  height: 51px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #b71c1c;
  border-color: red;
}

.iconLink:hover,
.Links:hover,
.LinksAppointment:hover,
.LinksContact:hover {
  background-color: #fafafa;
  color: #333;
  border-color: rgb(116, 20, 241);
}
